body{
    background: darkcyan;
}
.grupo{
    font-size-adjust: auto;
    position: absolute;
    font-family: "Poiret One";
    text-align:center;
    text-transform: uppercase;
	background: linear-gradient(to right, rgb(125,100,50) 20%,  rgb(250,225,175), rgb(125,100,50));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    top: 1%;
    left: 10%;
    font-size: 4vw;
}
.logo{
    position: relative;
    width: 80%;
}
.tituloPagina{
    font-size-adjust: auto;
    position: absolute;
    font-family: "Cinzel Decorative";
    text-align:center;
    text-transform: uppercase;
	background: linear-gradient(to right, rgb(75,50,25), rgb(125,100,50) 20%,  rgb(250,225,175), rgb(125,100,50));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    top: 12%;
    left: 60%;
    font-size: 3vw;
}
.sceneLaLlave{
    margin: 0;
    padding: 0;
    position: absolute;
    top: -13%;
}
.sceneTrayectoria{
    margin: 0;
    padding: 0;
    position: absolute;
    top: -26.5%; 
}
.scenePresentaciones{
    margin: 0;
    padding: 0;
    position: absolute;
    top: -26.5%;
}
.sceneArtistas{
    margin: 0;
    padding: 0;
    position: absolute;
    top: -26.5%;
}
.sceneFormatos{
    margin: 0;
    padding: 0;
    position: absolute;
    top: -13%;
}
.sceneCd{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40%;
    left: 50%;
}
.contenedor{    
    min-width: 100%;
    background: linear-gradient(rgb(10,5,0), darkcyan);
    position:absolute;
    height:inherit;
    display:block;
    padding: none;
    margin: 0;
    left: 0;
    top: 0;
}
h4{
    position: relative;
    color:rgb(10,5,0);
    text-align:justify;
    padding-left: 5%;
    padding-right: 5%;
}
h3{
    position: relative;
    color:rgb(10,5,0);
    text-align:justify;
    font-family: "LimeLight";
    padding: 1%;
}
h1{
    position: relative;
    color:rgb(250,225,175);
    text-align:justify;
    font-family: "Poiret One";
    padding: 1%;
}
.seccion{
    position:absolute;
    width:100%;
}
.parallax-window {
    min-height: 700px;
    background: transparent;
}
.menuItems {
    width: 50px;
    text-transform: uppercase;
    list-style: none;
    padding: 0;
    margin: 0;
    /*transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;*/
}
.menuItem {
    width: 50px;
    height: 50px;
    overflow: hidden;
    transition: width 0.5s ease-in-out, height 0.2s ease-in-out 0.5s;
    -moz-transition: width 0.5s ease-in-out, height 0.2s ease-in-out 0.5s;
    -webkit-transition: width 0.5s ease-in-out, height 0.2s ease-in-out 0.5s;
    -o-transition: width 0.5s ease-in-out, height 0.2s ease-in-out 0.5s;
}
.menuItem:hover {
    width: 270px;
    height: 350px;
}
.link {
    display: block;
    width: 270px;
    height: 40px;
    background: rgb(10,5,0);
    color:rgb(250,225,175);
    font-size: 16px;
    font-family: "voltaire";
    line-height: 40px;
    text-decoration: none;
    padding-left: 10px;
    margin: 1px;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -webkit-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
}
.link:hover {
    background: darkcyan;
    color: rgb(10,5,0);
}
.link:first-child {
    position: relative;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
}
.meuItem:hover .link:first-child {
    text-indent: 36px;
}
.link:first-child:before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    left:9px;
    position: absolute;
    top:9px;
}
.material-icons{
    position:absolute;
    color: (10,5,0);
    bottom: 50px;
    right: 20px;
}
.barra{
    position:absolute;
    color: (10,5,0);
    bottom: 50px;
    right: 50px;
}
.pie{
    color: aliceblue;
}
/*@media (max-width:360px){
    .texto{
        font-size: 20;
        top: 10%;
        left: 20%;
}
}
@media (min-width:320px) and (max-width:480px){
    .texto{
        font-size: 30;
        top: 10%;
        left: 20%;
}
}
@media (min-width:480px)and(max-width:768px){
    .texto{
        font-size: 40;
        top: 10%;
        left: 20%;
}
}
@media (min-width:768px)and(max-width:1024px){
    .texto{
        font-size: 50;
        top: 10%;
        left: 20%;
}
}
@media (min-width:1024px)and(max-width:1200px){
    .texto{
        font-size: 60;
        top: 10%;
        left: 20%;
}
}
@media (min-width:360px){
    .texto{
        font-size: 70;
        top: 10%;
        left: 20%;
}
}*/